html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.error {
  border: 1px solid red;
  color: red;
}
.box {
  margin: auto;
  width: 575px;
  background-color: rgb(59, 59, 59);
}
.box input {
  font-size: 15px;
  width: 500px;
  height: 35px;
  background-color: rgb(59, 59, 59);
}

label {
  font-size: 25px;
  color: white;
}
header {
  font-size: 30px;
  padding-left: 20px;
  color: white;
  padding-top: 10px;
}
form {
  padding-left: 20px;
}
.wrapper {
  text-align: center;
  background-color: grey;
  margin: auto;
}
.name {
  margin-bottom: 15px;
  margin-top: 20px;
}
.email {
  margin-bottom: 15px;
}
.username {
  margin-bottom: 15px;
}
.password {
  margin-bottom: 15px;
}
.cpassword {
  margin-bottom: 15px;
}
.url {
  margin-bottom: 15px;
}
button {
  font-size: 20px;
  border: 1px solid white;
  margin-left: 191px;
  background-color: rgb(59, 59, 59);
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
